name: Build U-Boot for RK3568 (GitHub)

on:
  workflow_dispatch:
    inputs:
      u_boot_version:
        description: 'U-Boot version tag (default: v2024.01)'
        required: false
        default: 'v2024.01'
        type: string

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Полная история для работы с тегами

    - name: Checkout tag version
      run: |
        git fetch --tags --force
        TAG=${{ github.event.inputs.u_boot_version || 'v2024.01' }}
        
        # 1. Сначала переходим на тег (detached HEAD)
        git checkout "refs/tags/${TAG}"
        
        # 2. Создаем локальную ветку для сборки
        git checkout -b "build-${TAG}"
        
        # Проверяем, что все получилось
        git branch -v
        git describe --tags

    - name: Download RK3568 binaries
      run: |
        wget https://github.com/rockchip-linux/rkbin/raw/master/bin/rk35/rk3568_ddr_1560MHz_v1.23.bin
        wget https://github.com/rockchip-linux/rkbin/raw/1ea59cc63be187cec53fc167e729bd0c738f9637/bin/rk35/rk3568_bl31_v1.43.elf

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends \
          make gcc gcc-aarch64-linux-gnu git bison flex libssl-dev

    - name: Build U-Boot
      run: |
        export ROCKCHIP_TPL=$(pwd)/rk3568_ddr_1560MHz_v1.23.bin
        export BL31=$(pwd)/rk3568_bl31_v1.43.elf
        
        make generic-rk3568_defconfig
        make CROSS_COMPILE=aarch64-linux-gnu- -j$(nproc)

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: u-boot-binaries-${{ github.event.inputs.u_boot_version || 'v2024.01' }}
        path: |
          u-boot.bin
          u-boot.img
          u-boot.dtb
          u-boot-rockchip.bin